[pylint]
disable=
    bare-except,
    broad-except,
    consider-using-f-string,
    invalid-name,
    len-as-condition,
    line-too-long,
    missing-function-docstring,
    missing-module-docstring,
    possibly-used-before-assignment,
    redefined-outer-name,
    too-many-branches,
    too-many-locals,
    undefined-variable,
    unused-argument,
    unused-import,
    unused-variable,
    used-before-assignment,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
